# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/

# Python packaging
dist/
build/
*.egg-info/

# Jupyter notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# MacOS
.DS_Store

# Pytest caches
pytest_cache/